<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="il.ac.technion.cs.ssdl.cs234311.yp09.fbip"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="18" />

	<!-- android:icon="@drawable/ic_launcher" android:label="@string/app_name" -->
	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme" >
		<activity
			android:name="il.ac.technion.cs.ssdl.cs234311.yp09.fbip.MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleInstance"
			android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" > 
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>